.score-header{
     background-color: #000000;
     color: #FFFFFF;
     padding: 0%;
     margin: 0%;
     padding: 1%;
     font-size: 1.5em;
     text-align: center;
     position: relative;
}
.score-labels{
     margin: 0 15px;
     color: #BDB76B;
}
#scoreValue, #topScoreValue{
     color: #FFFFFF;
}

#title{
  color: #BDB76B;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}